* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:1%;
    width:100%;
}

/* Portrait layout (default) */
button,input {
    margin: 1%;
}

.mediumMarginTop {
    margin-top: 15% !IMPORTANT;
}

button,textarea,input {
    display: block;
}

#postInputText {
    width: 96%;
    margin: 2%;
}

.centered {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

#logoutButton {
    float : right;
}


button {
    margin-left: 2%;
    width: 20%;
    height: 5%;
}

.post {
    margin:5%;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    padding: 5%;
}
 
